extends ./layout.pug

block content
    h1 Exercises
    ul
        li
            a(href="/exercise/Editing") Exercise 1 - Quick Edits
        li
            a(href="/exercise/Debugging") Exercise 2 - Debugging
        li
            a(href="/exercise/Performance") Exercise 3 - Performance
        li
            a(href="/exercise/Memory") Exercise 4 - Memory Leaks